.experts{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FF9900;
    font-family: 'inter';
}

.expertdiscuss{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 30px;
    background-color: #fff;
    border: 0;
    color: #16467d;
    width: fit-content;
    margin: 0 auto;
    margin-top: 23px;
}
.discuss1{
    text-decoration: none;
    color: #16467d;
    text-transform: uppercase;
    font-family: 'Inter';
}
.expertnum a{
    text-decoration: none;
}
.expertnum a:hover{
    color:#fff
}

@media (max-width:480px)  { 
    .experts p{
        font-size: 18px;
    }


 }