.footer{  

background-color: #24303E;
  color: #fff;
  padding-top: 100px;
  font-family: 'Inter';
}
.footermenu1{
    padding-left: unset;
}
.footermenu1 .footermenulinks{
    font-family: 'Poppins'; 
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    list-style: none;

}
.footerlogosize{
    width:155px;
    height:93px;
}
.socialiconfooter{
    display: flex;
    display: flex;
    padding: 0;
}

.socialiconfooter .socaillinks {
    padding-right: 12px;
    list-style: none;
}
.awards{
    text-align: center;
}
.imgvisa{
    text-align: center;
}

.styleset{
    color: #fff;
    text-decoration: none;
}
.rightlogo{  text-align: center; }

.rightlogo  img{
    display: unset;
}
.imgvisa  .rightlogo img{
    display: unset;
}

.styleset:hover{     color: #ddd; }

.footerlogosize{
    filter: brightness(0) invert(1);
}


@media (max-width:991px)  {
.footermenu1 .footermenulinks {

    font-size: 10px;

}

.socialiconfooter .socaillinks {
    padding-right: 3px;
    list-style: none;
}
}

@media (max-width:767px)  {
    .awards {
        text-align: left;
    }
    .rightlogo  {
        text-align: left;
    }

    .footermenu1 .footermenulinks {
        font-size: 16px;
    }
.footermenu1 {
    padding-top: unset;
}

}

@media (max-width:480px)  {


    
.footermenu1 .footermenulinks {
    font-size: 18px;
}

.imgvisa .rightlogo img {
    display: unset;
    padding: 5%;
}
.footer {
   
    padding-top: 60px;
    padding-bottom: 30px;
  
}

.socialiconfooter .socaillinks{
    padding-right: 13px;
    list-style: none;
}


}