.formattingservices{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f1f1f1;
}

.shape{
    display: flex;
    justify-content: center;
}


@media (max-width:767px)  {

    .formattingservices{
        padding-bottom: unset;
    }
    
     }