.process{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEEEEE;
}

.book h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.book p {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    
}

.tiger{
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 331px;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tiger h5 {
    color: #CCCCCC;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.tiger h3{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.tiger p {
    color: black;
    opacity: 50%;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

.tiger a, .tiger1 a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: unset;
    color: #7E7E7E;
}







.tiger1{
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 670px;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tiger1 h5 {
    color: #CCCCCC;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.tiger1 h3{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.tiger1 p {
    color: black;
    opacity: 50%;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

.view {
    width: 313px;
    height: 53px;
    background-image: linear-gradient(#FD7E14, #7F3F0A);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.allview {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

@media (min-width: 1400px) {

    .process{
        padding-bottom: 100px;

    }

    
 }

@media (max-width: 1199px) {

    .tiger p {
        height: 150px;
        overflow: auto;
    }

 }


@media (max-width: 991px) { }